lib/WebserverConfig.h
LinuxMain/libWebserver.so
LinuxMain/a.out
LinuxMain/libWebserver_gold.so
LinuxMain/libWebserver_lto.so
LinuxMain/libWebserver_ltog.so
LinuxMain/main
LinuxMain/main.o
LinuxMain/.gdbinit
LinuxMain/out.dat
lib/lib/
lib/obj/

*.su


old_afl-1.94b/
afl-2.10b/
afl-latest.tgz

tools/__pycache__/
tools/data/

fuzzing/__pycache__/
fuzzing/parse_header/main.afl.clang
fuzzing/parse_header/main.gcc
fuzzing/parse_line/main.afl.clang
fuzzing/parse_line/main.gcc
fuzzing/url_decode/main.afl.gcc
fuzzing/parse_header/main.clang
fuzzing/parse_header/main.clang.lto
fuzzing/parse_header/main.gcc.lto
fuzzing/url_decode/main.afl.clang
fuzzing/url_decode/main.clang
fuzzing/url_decode/main.clang.lto
fuzzing/url_decode/main.gcc
fuzzing/url_decode/main.gcc.lto

tests/parse_header/main.gcc
tests/parse_header/main.clang
tests/url_decode/main.gcc
tests/cookie/test_cookie
tests/cookie/test_results.xml
tests/unittests/run_tests
tests/unittests/test_results.xml
tests/list/test_list
tests/list/test.txt
tests/base64/base64_test
tests/sha1/sha1_test
tests/config_variants/LinuxWebsocketNoSSL/a.out
tests/config_variants/LinuxWebsocketNoSSL/main.o
tests/config_variants/LinuxWebsocketNoSSL/main
tests/config_variants/LinuxWebsocketNoSSL/main.dSYM/
tests/config_variants/LinuxWebsocketSelect/main
tests/config_variants/LinuxWebsocketSelect/main.dSYM/
tests/config_variants/LinuxWebsocketSelect/main.o
tests/config_variants/LinuxSelect/main*

Docker/*.pem
Docker/libWebserver.so
Docker/main
Docker/testSite/

tests/__pycache__/

fuzzing/adg/
fuzzing/parse_header/size.txt

testSite/www_data__.c

.sonar/
build-wrapper-linux-x86.zip
build-wrapper-linux-x86/
bw-outputs/

fuzzing/parse_header/afl-*
logs


tests/list/test_list_new
tests/list/test_list_old
tests/list/test_new.txt
tests/list/test_old.txt

LinuxMain/.cproject
LinuxMain/.project
LinuxMain/.settings/

lib/.obj~/
lib/Makefile.bbs
lib/libWebserver.so
lib/*.bc
lib/*.i
lib/*.s

Sample/main
Sample/libWebserver.so

Samples/testSite/src/webserver_api_functions.c.list
Samples/testSite/src/websocket_api.c.list
Samples/testSite/src/test_plugin.so
Samples/testSite/src/testfunktions.o
Samples/testSite/src/var_test.o
Samples/testSite/src/webserver_api_functions.o
Samples/testSite/src/websocket_api.o
Samples/testSite/src/webserver_api.o
Samples/testSite/img_data__img.c
Samples/testSite/img_data_img.c

Samples/Linux/SingleMain/main
Samples/Linux/SingleMain/main.o
Samples/Linux/SingleMain/www_css.c
Samples/Linux/SingleMain/www_data.c

Samples/Linux/SingleMainPython/main
Samples/Linux/SingleMainPython/main.o
Samples/Linux/SingleMainPython/www_css.c
Samples/Linux/SingleMainPython/www_data.c

Samples/Linux/SharedMain/main.o
Samples/Linux/SharedMain/main
Samples/Linux/SharedMain/libWebserver.so

Samples/Win32/SingleMain/.vs
Samples/Win32/SingleMain/x64

.DS_Store
Samples/.DS_Store
Samples/OSX/MakeProject/main.o
Samples/OSX/MakeProject/www_css.c
Samples/OSX/MakeProject/www_data.c
Samples/OSX/MakeProject/main*

tests/tscan/TscanCodeV2.14.24*
tests/infer/infer-*

Debug

lib/src/*.o
lib/platform/linux/*.o
lib/python/*.o
lib/ssl/*.o
lib/third_party/src/is_utf8/*.o
lib/third_party/src/rb_tree/*.o
lib/third_party/src/miniz/*.o

.cproject
.settings/language.settings.xml
